body {
    background-color: #12121c;
    color: #ffffff;
}
h1 {
    color: #ffffff;
    font-size: large;
}
a {
    color: #c0c0ff;
}
footer {
    color: #ffffff;
}
p {
    margin-left: 3ch;
    margin-right: 3ch;
    max-width: 74ch;
    white-space: wrap;
}
hr {
    color: #707090;
    width: 80ch;
    max-width: 80ch;
    margin-left: 0;
}
.rotated-img {
    animation: rotation 10s infinite linear;
    width: 30ch;
}
@keyframes rotation {
    from {
        transform: rotate(560deg);
    }
    to {
        transform: rotate(200deg);
    }
}
